body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Share Tech', sans-serif;
}

#intro {
	font-size: 4em;
	font-family: 'VT323', monospace;
	color: #FFFFFF;
	background-color: #000000;
	position: fixed;
}

#navbar {
	background-color: #000000;
	display: inline-block;
}

#navbarLinks {
	font-size: 2em;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
}

#Logo {
	padding: 0.5%;
	position: absolute;
	text-align: left;
	color: #FFFFFF;
	font-size: 3.5em;
}

#landingScreen {
	background-image: url('../res/glasses-computer-img.jpg');
	background-repeat: no-repeat;
    background-position: center bottom;
	background-size: cover;
	background-attachment: fixed;
	
	display: table;
}

#landingText {
	padding: 1%;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 5em;
}

#landingTextContainer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#landingSubtext {
	display: table-row;
	vertical-align: middle;
	text-align: center;
	font-size: 2.25em;
}

#subtextButton {
	padding: 1%;
	background-color: #000000;
	color: #FFFFFF;
}

#contactForm {
	margin-left: 10vw;
}

#contact-msg {
	height: 45vh;
}

div.contact-label {
	font-size: 1.1em;
}

.contact-input {
	margin-bottom: 2vh;
	width: 80vw;
}

div.about-subtext {
	padding-left: 10%;
	text-align: left;
}

div.grid-header {
	display: block;
	margin-top: 5%;
	font-size: 2em;
	font-weight: 900;
}

div.grid-subtext {
	display: block;
	margin-top: 3%;
	font-size: 1.25em;
	font-weight: 100;
	color: #666666;
}

div.gridZone {
	margin-left: 4%;
	margin-right: 4%;
}

div.grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

img.round {
	border-radius: 50%;
}

img.gridImgSize {
	width: 45%;
    height: auto;
}

div.darkened {
	background-color: #CCCCCC;
}

.sectionSubtitle {
	font-size: 1.5em;
	text-align: center;
	font-weight: 100;
	color: #666666;
	padding-bottom: 2%;
}

.sectionHeader {
	font-size: 3.75em;
	text-align: center;
	padding-top: 2%;
}

.navbarLink {
	display: inline-block;
	padding: 1%;
}

.navbarLink:hover {
	background-color: white;
	color: blue;
}

.fadedOut {
	display:none;
    opacity:0.0;
    filter:alpha(opacity=0);
}

.fixed {
    position: fixed;
}

.full-width {
	margin: 0;
	padding: 0;
	width: 100%;
}

.full-height {
	margin: 0;
	padding: 0;
	height: 100vh;
}